<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="FleetEase Smoke Suite">
    <test name="Smoke Flow">
        <classes>
            <class name="com.ksbyte.automation.tests.DashboardTest"/>
            <class name="com.ksbyte.automation.tests.LiveTrackingTest"/>
        </classes>
    </test>
</suite>